ASSETS_CLIENT_ID = "xxxxxxxxxxxxxxxxx"
ASSETS_CLIENT_SECRET = "xxxxxxxxxxxxxxxxx"
ASSETS_TENANT_ID = "xxxxxxxxxxxxxxxxx"
ASSETS_MANIFESTS = `
{
  "xxxxxxxxxxxxxxxxx": {
    "driveId": "xxxxxxxxxxxxxxxxx",
    "accessKey": "xxxxxxxxxxxxxxxxx",
    "allowedHosts": ["xxxxxxxxxxxxxxxxx"],
    "distPath": []
  },
  "xxxxxxxxxxxxxxxxx": {
    "driveId": "xxxxxxxxxxxxxxxxx",
    "accessKey": "xxxxxxxxxxxxxxxxx",
    "allowedHosts": ["xxxxxxxxxxxxxxxxx"],
    "distPath": []
  },
  // ...
}
`
ANALYTICS_MEASUREMENT_ID = "xxxxxxxxxxxxxxxxx"
ANALYTICS_API_SECRET = "xxxxxxxxxxxxxxxxx"
IS_PROD = false
